{%  extends 'base.html.twig' %}

{%  block body %}

<h1>Bienvenu dans ce blog !</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, aperiam autem consequatur dignissimos dolore esse
    facilis fugit id ipsa iusto, libero molestias, nesciunt officia pariatur porro quae quaerat reprehenderit sit ullam
    vel. Corporis fuga nisi quam quis, rem similique tempora.</p>

<p>Aliquid aut autem blanditiis dolorum esse ex
    expedita facilis, hic id illum in ipsam iusto maiores modi porro quae quo ratione recusandae ut voluptas voluptate
    voluptatibus voluptatum! Debitis delectus id, iusto laudantium, libero officia provident quasi unde veniam vero
    voluptatum.</p>


{%  endblock %}
